/* ----- bootstrap stuff ----- */
.container {
    margin-left: 80px
}

.navbar {
    background-color: #660066;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-brand:hover {
    color: lightgray;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: lightgray;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: white;
    color: #660066;
}

/* ----- modprox stuff ------- */

.bigheader {
    padding-left: 50px;
    alignment: center;
}

.list-mods tr td {
    padding-right: 20px;
}

.list-mods tr td a {
    color: black;
}

.mod-tag {
    font-size: medium;
    font-weight: bold;
    font-family: monospace;
}

.mod-text {
    font-size: large;
    font-weight: bold;
    font-family: monospace;
}

.mod-ok {
    color: green;
    font-weight: bold;
}

.mod-bad {
    color: darkred;
    font-weight: bold;
}

.mod-tbl tr td {
    padding-right: 20px;
}