.container {
    margin-left: 80px
}

.bigheader {
    padding-left: 50px;
    alignment: center;
}

.modtd {
    padding-right: 20px;
}

.modtd a {
    color: black;
}

.modname {
    font-size: x-large;
}

.modtag {
    font-size: small;
}