{{define "body"}}
<div class="container">
    <br/><br/><br/>
    <div class="bigheader">
        <h3>modules in registry</h3>
    </div>
    <div>
        <table>
            {{range $k, $v := .Mods}}
            <tr>
                <td>
                    <span class="mod-pkg-name">{{$k}}</span>
                    <span class="mod-pkg-versions">({{len $v}} <a
                    href="/mods/show?mod={{$k}}">versions</a>)</span>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
</div>
{{end}}
