{{define "body"}}
<div class="container">
    <br/><br/><br/>
    <div class="bigheader">
        <h3>register new modules</h3>
    </div>
    <div>
        <p class="new-module-instructions">
            paste content of <em>go.sum</em> file<br/>
            paste the <em>require</em> section of <em>go.mod</em> file<br/>
            common module formats accepted
        </p>
    </div>
    <div>
        <form method="POST" id="new-module" action="/mods/new">
            {{.CSRFField}}
            <textarea
                    name="modules-input"
                    form="new-module"
                    rows="16" cols="110"
                    placeholder=" e.g. github.com/pkg/errors v0.8.0"
                    required autofocus></textarea>
            <br/><br/>
            <input type="submit" form="new-module" class="btn btn-success" value="✚ ADD">
        </form>
    </div>

    <div>
    {{if .Mods}}
        <hr/>
        <table class="mod-tbl">
        {{range .Mods}}
            <tr>
                {{if not .Err}}
                    <td>
                        <span class="mod-text">
                            {{.Module.Source}} {{.Module.Version}}
                        </span>
                    </td>
                    <td>=></td>
                    <td>
                        <span class="mod-ok">OK</span>
                    </td>
                {{else}}
                    <td>
                        <span class="mod-text">
                            {{.Text}}
                        </span>
                    </td>
                    <td>=></td>
                    <td>
                        <span class="mod-bad">
                            {{.Err.Error}}
                        </span>
                    </td>
                {{end}}
            </tr>
        {{end}}
        </table>
    {{end}}
    </div>
</div>
{{end}}
