{{define "body"}}
<div class="container">
    <br/><br/><br/>
    <div class="bigheader">
        <h3>find modules</h3>
    </div>
    <div>
        <div class="find-desc">
            <p>find module versions for packages</p>
            <p>
                <span class="glyphicon glyphicon-exclamation-sign find-red" aria-hidden="true"></span>
                this only works with <strong>github</strong> for now
            </p>
        </div>
        <form method="POST" id="find-module" action="/mods/find">
            {{.CSRF}}
            <textarea
                name="sources-input"
                form="find-module"
                rows="5" cols="70"
                placeholder="e.g. github.com/pkg/errors"
                required autofocus>{{.Query}}</textarea>
            <br/><br/>
            <input type="submit" form="find-module" class="btn btn-success" value="⌕ Find">
        </form>
    </div>

    <hr/>

    <div>
        {{if not .Found}}
            <span class="find-notfound">
                no results
            </span>
        {{else}}
        <form method="GET" id="populate-new" action="/mods/new">
        <table> <!-- outer list of things -->
            {{range .Found}}
                {{$txt := .Text}}
                <tr>
                    <td>
                        <table> <!-- left and right side -->
                            <tr>
                                <td> <!-- package name -->
                                    <h4>
                                        <a href="https://{{$txt}}" class="find-pkg" target="_blank" rel="noreferrer">
                                            {{.Text}}
                                        </a>
                                    </h4>
                                </td>
                                <td class="find-space"></td>
                                <td> <!-- whats in the package -->
                                    {{if .Err}}
                                        <span class="find-label">
                                            error message
                                        </span>
                                        <br/>
                                        <span class="find-code">
                                            failed to lookup package information
                                        </span>
                                    {{else}}
                                        <span class="find-label">
                                            latest commit
                                        </span>
                                        <br/>
                                        <span class="find-code">
                                            <input type="checkbox" name="packages" value="{{$txt}} {{.Result.Latest.Custom}}"
                                                   id="{{.Result.Latest.Custom}}">
                                            <label for="{{.Result.Latest.Custom}}">{{.Result.Latest.Custom}}</label>
                                        </span>
                                        <br/>
                                        {{if not .Result.Tags}}
                                            no tags
                                        {{else}}
                                            <span class="find-label">
                                            latest tag
                                            </span>
                                            <br/>
                                            <span class="find-code">
                                            <input type="checkbox" name="packages" value="{{$txt}} {{(index .Result.Tags 0)}}"
                                                   id="{{(index .Result.Tags 0)}}">
                                            <label for="{{(index .Result.Tags 0)}}">{{(index .Result.Tags 0)}}</label>
                                            </span>
                                            <br/>
                                            {{$len := len .Result.Tags}}
                                            {{if gt $len 1}}
                                                <span class="find-label">
                                                    older tags
                                                </span>
                                                <br/>
                                                <span class="find-code sm">
                                                    {{range $i, $tag := .Result.Tags}}
                                                        {{if $i}}
                                                        <input type="checkbox" name="packages" value="{{$txt}} {{$tag}}" id="{{$tag}}">
                                                        <label for="{{$tag}}">{{$tag}}</label>
                                                        {{end}}
                                                    {{end}}
                                                </span>
                                            {{end}}
                                        {{end}}
                                    {{end}}
                                </td>
                            </tr>
                        </table>
                        <hr/>
                    </td>
                </tr>
            {{end}}
        </table>
        <input type="submit" form="populate-new" class="btn btn-success" value="✚ Add Selected">
        </form>
        {{end}}
    </div>
</div>
{{end}}
