{{define "body"}}
<div class="container">
    <br/><br/><br/>
    <div class="bigheader">
        <h1>List Module Registry</h1>
    </div>
    <hr/>
    <div>
        <table class="list-mods">
            {{range .Modules}}
            <tr>
                <td>
                    <a href="{{.WebURL}}">
                        <span class="mod-text">{{.Module.Source}}</span>
                    </a>
                </td>
                <td>@</td>
                <td>
                    <a href="{{.TagURL}}">
                        <span class="mod-tag">{{.Module.Version}}</span>
                    </a>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
</div>
{{end}}